/* 
    Created on : 4 nov 2025
    Author     : Christopher Centeno
*/

@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/Pokemon Solid.ttf') format('truetype');
}

body {
    font-family: 'Pokemon', sans-serif;
    background-color: #cc322a; 
    color: #000;
    margin: 0;
    padding: 20px;
}

/* Contenedor del formulario y tabla */
div {
    background-color: #a7b9d3; 
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Encabezados */
h1 {
    text-align: center;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

img {
    width: 80px;
}

/* Enlaces */
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
